<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>MService Verona</title>
</head>
<body>
    <h1>Benvenuto su MService Verona!</h1>
    <p>Il mio sito è online!</p>
</body>
</html>
